* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.waving-hand {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

.background-top1 {
  background-image: url("../img/background2.jpg");
  background-repeat:no-repeat;
  background-size:100% 100vh;
  border-bottom: 2px solid rgba(250, 235, 215, 0.3);
  padding-bottom: 13px;
}

a.myLink {
  color: black;
  text-decoration-line: none;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: large;
}

a.myLink:hover {
  color: darkblue !important;
  border-bottom: 4px solid darkblue;
  padding-bottom: 8px;
}

.active {
  color: darkblue !important;
  border-bottom: 4px solid darkblue;
  padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
.menu li a:link {
  border: none; 
  font-size: smaller;
  }
.menu li a:hover {
  border: none;
  }
.menu ul {
    width: 30%;
    background-color: rgba(255,182,193,0.1);
  }
.menu li {
  line-height: 40px;
  border-bottom: 1px solid darkblue;
  margin-right: 0px !important;
  }
.except {
  border-bottom: none !important;
  }
.greeting3 {
  max-width: 230px !important;
  font-size: 16px !important;
  }
.greeting1 {
  max-width: 250px;
  font-size: 20px;
  line-height: 21px;
  }
.navbar-brand {
  font-size: 16px !important; 
}
.headings {
  font-size: 20px;
  text-align: center !important;
}
.foot {
  padding: 15% !important;
}
}

/*set z index to 9 if you want navbar button to scroll with the page*/

.greeting3 {
  max-width: 400px;
  font-size: 20px;
  }

.greeting {
  height: 90vh;
}

 a.myLink{
  font-size: x-large;
}

.align-items-center {
  align-items: center !important;
}


.navbar-toggler {
  border: none;
}

.navbar-brand {
  font-size: x-large;
}

.background-top {
  position: relative;
  background-image: url("../img/background2.jpg");
  background-repeat:no-repeat;
  background-size:100% 100vh;
}

.image {
  width: 50%;
}


.foot {
  background-image: url(../img/foot_background.jpg);
  background-size: 100% 100vw;
  text-align:  center ;
  padding: 7%;
}

.icon {
  color: black;
}

.zoom:hover {
  transform: scale(1.3);
}



/*.project2 {
  background-image: url(../img/empyrean-gold.png);
  height: 50vh;
  background-size: cover;
}*/



@/*media screen and (max-width: 600px) {}
@media screen and (min-width: 600px) {}
@media screen and (min-width: 768px) {

}
@media screen (min-width: 992px) {}
@media screen (min-width: 1200px) {}*/