@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myLink, .menu, .except, .greeting, .greeting3, .greeting1, .image, .about-text, .pro-des, 
.hovering, .about-text, .text, .aboutme-pic, .num, .num1, .active, .headings, .contact, .middle-text {
  font-family: "Montserrat", sans-serif !important;
}



@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.waving-hand {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}


.background-top2 {
  background-image: url("img/foot_background.jpg");
  background-repeat:no-repeat;
  background-size:100% 100vh;
  border-bottom: 2px solid rgba(250, 235, 215, 0.3);
  padding-bottom: 13px;
}

a.myLink {
  color: black;
  text-decoration-line: none;
  padding-bottom: 8px;
  font-weight: 600 !important;
  font-size: large;
}

a.myLink:hover {
  color: darkblue !important;
  border-bottom: 4px solid darkblue;
  padding-bottom: 8px;
}

.active {
  color: darkblue !important;
  border-bottom: 4px solid darkblue;
  padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
.menu li a:link {
  border: none; 
  font-size: smaller;
  }
.menu li a:hover {
  border: none;
  }
.menu ul {
    width: 30%;
    background-color: rgba(255,182,193,0.1);
  }
.menu li {
  line-height: 40px;
  border-bottom: 1px solid darkblue;
  margin-right: 0px !important;
  }
.except {
  border-bottom: none !important;
  }
.greeting3 {
  max-width: 230px !important;
  font-size: 16px !important;
  }
.greeting1 {
  max-width: 250px;
  font-size: 20px;
  line-height: 21px;
  }
.navbar-brand {
  font-size: 16px !important; 
}
.headings {
  font-size: 20px;
  text-align: center !important;
}
.foot {
  padding: 15% !important;
}
.about-text {
  max-width: 280px !important;
  font-size: 16px !important;
}
.aboutme-pic {
  width: 100%;
}
.zoom1 {
  font-size: 40px !important;
  padding: 20px !important;
}
.image {
  width: 100% !important;
}
.pro-des {
  font-size: 16px !important;
  }
}

@media only screen and (max-width: 991px) {
  .menu li a:link {
  border: none; 
  font-size: smaller;
  }
.menu li a:hover {
  border: none;
  }
.menu ul {
    width: 30%;
    background-color: rgba(255,182,193,0.1);
  }
.menu li {
  line-height: 40px;
  border-bottom: 1px solid darkblue;
  margin-right: 0px !important;
  }
.except {
  border-bottom: none !important;
  }
  .zoom1 {
  font-size: 40px !important;
  padding: 20px !important;
}
}

@media only screen and (max-width: 700px){
.text {
  background-color: blueviolet;
  color: white;
  font-size: 8px !important;
  padding: 6px 13px !important;
  border-radius: 40% !important;
}
}

.greeting3 {
  max-width: 400px;
  font-size: 20px;
  }

.greeting {
  height: 90vh;
}

 a.myLink{
  font-size: x-large;
}

.align-items-center {
  align-items: center !important;
}


.navbar-toggler {
  border: none;
}

.navbar-brand {
  font-size: x-large !important;
}

.background-top {
  position: relative;
  background-image: url("img/background2.jpg");
  background-repeat:no-repeat;
  background-size:100% 100vh;
  width: 100vw;
}

.image {
  width: 100%;
  height: 100%;
}


.foot {
  background-image: url(img/foot_background.jpg);
  background-size: 100% 100vw;
  text-align:  center ;
  padding: 7%;
}

.icon {
  color: black;
}

.zoom:hover {
  transform: scale(1.3);
}


.about-text {
  max-width:  400px;
}

.aboutme-pic {
  display: block;
  border-radius: 30%;
}

.zoom1 {
  padding: 60px;
  color: black;
}

.zoom1:hover {
  transform: scale(1.5);
}

.contact {
  height: 100vh;
}

.num {
  text-decoration-line: none !important;
}

.num1 {
  color: black;
}

.hovering {
  position: relative;
}

.middle-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}


.hovering:hover .image {
  opacity: 0.3;
}

.hovering:hover .middle-text {
  opacity: 1;
}

.text {
  background-color: blueviolet;
  color: white;
  font-size: 14px;
  padding: 12px 25px;
  border-radius: 40%;
}

.hovering a {
  text-decoration-line: none !important;
}

.pro-des {
  font-size: 20px;
  }

.pro-des a {
  text-decoration-line: none !important;
}
